body{
    margin:0;
    background:#F0F0F3;
}
.button{
    width:100px;
    background-color: #e7daf5;
    border: none;
    color:rgb(8, 8, 8);
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;

}

.leftbox{
    font-weight: bold;
    float: right;
}

.image{
    width: 400px;
    height: 200px;
}

